* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}
.primarycolor{
    background-color: #FAF7F0;
}
.secondarycolor{
    background-color: #F37878;
}
.welcomediv{
    margin-left: 500px;
    width: 30%;
    background-color: #F37878;
    border-radius: 50px;
}
#welcomeimg{
    width: 100%;
    border-radius: 50px;
}
#main-heading{
    font-size: 65px;
    color: #FAF7F0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;   
}
#serchbox{
    font-size: 20px;
    padding: 8px;
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 1200px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#serchbutton{
    background-color: black;
    color: #FAF7F0;
    border: 2px solid #F37878;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primarybuttons{
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #F37878;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbuttons{
    margin-top: 10px;
    margin-left: 125px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #FAF7F0;
    border-radius: 10px ;
    padding: 8px;
}
#welcomemessage{
     
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;                                                                       
        margin-top: 50px;
        font-size: 40px;
        padding: 15px;
}
nav{
    background-color: #F37878;
    height: 50px;
}
#message{
    margin-top: 90px;
    font-size: 40px;
    background-color: #F37878;
}

.card1{
   
    width: 15%;
    height: 472px;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: 90px;
}
.card1img{
    border-radius: 10px;
    width: 100%;
}
.card2{
   
    width: 15%;
    height: 472px;
    border: 5px solid black;
    border-radius: 10px;

    position: absolute;
    top: 139%;
    left: 29%;
    
    
}
.card2img{
    border-radius: 10px;
    width: 100%;
    height: 55%;
}
.card3{
   
    width: 15%;
    height: 472px;
    border: 5px solid black;
    border-radius: 10px;

    position: absolute;
    top: 139%;
    left: 53%;
}
.card3img{
    border-radius: 10px;
    width: 100%;
    height: 51%;
}
.card4{
   
    width: 15%;
    height: 472px;
    border: 5px solid black;
    border-radius: 10px;

    position: absolute;
    top: 139%;
    left: 78%;
}
.card4img{
    border-radius: 10px;
    width: 100%;
    height: 59%;
}
.card5{
   
    width: 15%;
    height: 499px;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 86px;
    margin-bottom: 50px;
}
.card5img{
    border-radius: 10px;
    width: 100%;
}
.card6{
   
    width: 15%;
    border: 5px solid black;
    border-radius: 10px;
    height: 499px;

    position: absolute;
    top: 213%;
    left: 29%;
}
.card6img{
    border-radius: 10px;
    width: 100%;

}
.cardbuttons{

    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #F37878;
    border-radius: 10px;

}
strike{
    color: green;
}
span{
    color: green;
}
#inputdiv{
    background-color: #F37878;
    box-sizing: border-box;
    width: fit-content;
    margin: 40px 400px 0px 500px;
    font-size: 30px;
    border-radius: 30px;
    padding: 15px;
    border: 2px solid black;
}

.upload-buttons{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    color: #F37878;
    margin-left: 120px;
}
#sub-button{
    font-size: 22px;
    border-radius: 10px;
    background-color: black;
    color: #FAF7F0;
    margin-left: 190px;
}
#lastp{
    font-size: 18px;
    color: black !important;
}

footer{
    margin-top: 50px;
    height: 400px;
    background-color: black;
    color: #FAF7F0;
}
#footerdiv1{
    
    padding-top: 80px;
    font-size: 20px;
    width: 20%;
    margin-left: 40px;
}
#footerdiv2{
    
    padding-top: 80px;
    font-size: 20px;
    width: 20%;

    position: absolute;
    left: 40%;
    top: 2550px;
}

.fdiv2button{
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

#footerdiv3{
    position: absolute;
    left: 70%;
    top: 2590px;

    font-size: 30px;
    margin-top: 60px

}